:root {
    --bs-primary: #adc6ec;
}


.lightblue {
    background-color: var(--bs-primary);
}

ul {
    margin-top: 5px;
    padding: 0;
}
.locbutton {
    background-color: blue;
    margin: 5px;
    color: white;
    padding: 5px;
}

.smallfont {
    font-size: 14px;
}

.center {
text-align: center;
}

img {
height: 30px;
}

.recentheader {
    margin-left: 20px;
}

h5.recentheader {
    margin-top: 20px;
}

.hide {
    display: none;
}

.forecastcard {
    border: none;
}

.fivedayforecastcard {
    border: none;
}

/* UV Conditions */

.bg-moderate { /* 3-5*/
    background-color: var(--yellow);
}

.bg-high { /* 6-7*/
    background-color: var(--orange);
}


.bg-extreme { /* 11+*/
    background-color: violet;
}

