:root {
    --bs-primary: #adc6ec;
}


.lightblue {
    background-color: var(--bs-primary);
}

.smallfont {
    font-size: 14px;
}

p .center {
justify-content: center;
}

img {
height: 30px;
}


.hide {
    display: none;
}

.forecastcard {
    border: none;
}

.fivedayforecastcard {
    border: none;
}

/* UV Conditions */

.bg-moderate { /* 3-5*/
    background-color: yellow;
}

.bg-high { /* 6-7*/
    background-color: orange;
}


.bg-extreme { /* 11+*/
    background-color: violet;
}

