:root {
    --bs-primary: #adc6ec;
}


.lightblue {
    background-color: var(--bs-primary);
}

.list-group-item-primary {
    background-color: var(--bs-primary);
    border: none;
    max-height: 40px;
    font-size: large;
}

img {
height: 30px;
}


.hide {
    display: none;
}

.forecastcard {
    border: none;
}

.fivedayforecastcard {
    border: none;
}

/* UV Conditions */
.bg-low { /* 0-2*/
    background-color: green;
}

.moderate { /* 3-5*/
    background-color: yellow;
}

.bg-high { /* 6-7*/
    background-color: orange;
}


.bg-extreme { /* 11+*/
    background-color: violet;
}
